body {
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}

.region.fullscreen.above .container,
.region.fullscreen.above .container .module,
.region.fullscreen.above .container .module .module-content,
.region.fullscreen.above .container .module .module-content div,
.module-content #windy {
  height: 100%;
}

#windy #bottom {
  height: auto;
  opacity: 0;
}

#windy::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%); 
}

.region.fullscreen.above .container .module {
  margin-bottom: 0;
}

.region.fullscreen.above {
  z-index: -1;
}
